<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src= 'http://code.jquery.com/jquery-1.10.1.min.js'></script>
<script src= 'javascripts/test.js'></script>
</head>
<body>
<div class='toolbar'>
	<div class= 'home_btn'onClick='javascript:location.href="http://"+location.host"' >home</div>
	    <!-- div class= 'aboutus_btn'onClick='javascript:location.href="http://"+location.host+"/aboutus"' >about us</div --!>
	    <div class= 'honpac_six_btn'onClick='javascript:location.href="http://"+location.host+"/honpac"' >honpac six</div>
	    <div class= 'contactus_btn' onClick='javascript:location.href="http://"+location.host+"/contact"' >contact us</div>
	    <div id ='lang_en' class= 'english_btn'>english</div>
	    <div id ='lang_ch' class= 'chinese_btn'>chinese</div>
	</div>
    <div id = 'aboutus'>
      <img src = '/images/honpac.jpg'/>
       <h1 class='head'>HONPAC VISION</h1>
	<div id = 'word_up' class='word_container'>
	 <table style="margin:0 auto;width:800px;">
	   <tr>
		 <td>
		 <span class='table_header'>Dream becoming true<span>
		 </td>
		 <td>
		 <span><span>
		 </td>
	     </tr> 
	     <tr>
		 <td>
		 <span>A stage of drama is built up from zero,<span>
		 </td>
		 <td>
		 <span>Surfing waves forward,<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>A play of story is directed by vision,<span>
		 </td>
		 <td>
		 <span>Seeing views as birds looking,<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>Creating the innovative idea days & nights,<span>
		 </td>
		 <td>
		 <span>Weaving dreams as spiders spinning,<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>Having the attractive view months & years,<span>
		 </td>
		 <td>
		 <span>Let’s have the vision together,<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>Rowing kayaks ahead,<span>
		 </td>
		 <td>
		 <span>And make the dream become true.<span>
		 </td>
	     </tr>
	  </table>
	</div>
       <img src = '/images/image_about.jpg'/>
	<div id = 'word_up' class='word_container'>
	 <table style="margin:0 auto;width:800px;">
	     <tr>
		 <td>
		 <span class='table_header'>Honpac之精神 (Spirit)<span>
		 </td>
		 <td>
		 <span class='table_header'>Honpac之特質 (Character)<span>
		 </td>
	     </tr> 
	     <tr>
		 <td>
		 <span>H = Honest 誠實<span>
		 </td>
		 <td>
		 <span>H = Humble 謙和恭順<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>O =  Obligation 責任<span>
		 </td>
		 <td>
		 <span>O = Open-minded 開闊胸襟<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>N = Noble 尊貴<span>
		 </td>
		 <td>
		 <span>N = Natural 任運自然<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>P = Perfection完美<span>
		 </td>
		 <td>
		 <span>P = Principle 堅持原則<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>A = Aggressive 主動<span>
		 </td>
		 <td>
		 <span>A = Action 付諸行動<span>
		 </td>
	     </tr>
	     <tr>
		 <td>
		 <span>C = Credit 信用<span>
		 </td>
		 <td>
		 <span>C = Concentration 專一用心<span>
		 </td>
	     </tr>
	 </table>
      </div>
    </div>
  </body>
</html>
