<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src= 'http://code.jquery.com/jquery-1.10.1.min.js'></script>
    <script src= 'javascripts/test.js'></script>
  </head>
  <body>
    <div class='toolbar'>
	    <div class= 'home_btn'onClick='javascript:location.href="http://"+location.host"' >home</div>
	    <div class= 'aboutus_btn'onClick='javascript:location.href="http://"+location.host+"/aboutus"' >about us</div>
	    <div class= 'honpac_six_btn'onClick='javascript:location.href="http://"+location.host+"/honpac"' >honpac six</div>
	    <!--div class= 'contactus_btn' onClick='javascript:location.href="http://"+location.host+"/contactus"' >contact us</div--!>
	    <div id ='lang_en' class= 'english_btn'>english</div>
    </div>
    <div id = 'contactus'>
       <img src = '/images/honpac.jpg'/>
       <h1 class='head'>華納夢幻科技股份有限公司</h1>
       <p class='sub_head' >成立於 1953</p>
       <table style="margin:0 auto;width:300px;">
             <tr>
                 <td>
                 <label>電子郵箱</label>
                 </td>
                 <td>
                 <span ><a href="mailto:honor.co@gmail.com">honor.co@gmail.com</a><span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>網址</label>
                 </td>
                 <td>
                 <span ><a href="http://honpactw.com">http://honpactw.com</a><span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>Skype</label>
                 </td>
                 <td>
                 <span >honpactw<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>電話</label>
                 </td>
                 <td>
                 <span >02-24931160<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>傳真</label>
                 </td>
                 <td>
                 <span >02-24931517<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>公司</label>
                 </td>
                 <td>
                 <span >台灣新北市雙溪區中華路67號<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>常駐</label>
                 </td>
                 <td>
                 <span >台灣新北市貢寮區龍門街53號<span>
	   	</td>
             </tr>
	</li>
</table>
       <div id ='image'>
	       <div class= 'img_container'>
	           <img src = '/images/newtaipei.jpg'/>
	           <span>新北市</span>
	       </div>
	       <div class= 'img_container'>
	           <img src = '/images/no67.jpg'/>
	           <span>雙溪區中華路67號</span>
	       </div>
	       <div class= 'img_container'>
	           <img src = '/images/no53.jpg'/>
	           <span>貢寮區龍門街53號</span>
	       </div>
       </div>
       <div style="margin:0 auto;width:550px;">
	           <span class= 'left bottom'>網站軟體設計: 藍念慈</span>
	           <span class= 'right bottom'>網頁美編: Honpac, 蒲俊蓉, 許競元</span>
       </div>
    </div>
  </body>
</html>
