<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src= 'http://code.jquery.com/jquery-1.10.1.min.js'></script>
    <script src= 'javascripts/test.js'></script>
  </head>
  <body>
	<div id="honpac_six">
	<img src = '/images/honpac.jpg'/>
	<h1 class='head'>寶島台灣</h1>
	<h1 class='head'>Honpac 六寶</h1>
	<table>
	<tr>
		<td colspan=6>
			<div class='product_group'>
				<span>貿易 (since 1971)</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="product_img">
				<img src="/images/image001.png">
				<span>水資源</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image003.png">
				<span>池上米</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image005.png">
				<span>台灣水果</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image007.png">
				<span>古樹盆栽</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image009.png">
				<span>牛樟樹苗</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image011.png">
				<span>奈米肥</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="product_img">
				<img src="/images/image013.png">
				<span>腳踏車安全燈</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image015.png">
				<span>古董車零件</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image017.png">
				<span>舒壓熱敷墊</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image019.png">
				<span>除垢水陶片</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image021.png">
				<span>馬達加斯加香草莢</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image023.png">
				<span>椰子油</span>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=6>
			<div class='product_group'>
				<span>網購 (since 1990)</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="product_img">
				<img src="/images/image025.png">
				<span>巴西莓</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image027.png">
				<span>膠原蛋白</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image029.png">
				<span>牛樟芝</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image013.png">
				<span>腳踏車安全燈</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image017.png">
				<span>舒壓熱敷墊</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image019.png">
				<span>除垢水陶片</span>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=6>
			<div class='product_group'>
				<span>土地買賣 (since 1980)</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="product_img">
				<img src="/images/image037.png">
				<span></span>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=6>
			<div class='product_group'>
				<span>土地投資 (since 1980)</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="product_img">
				<img src="/images/image039.png">
				<span>香蘭博物館</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image041.png">
				<span>草嶺古道客棧</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image043.png">
				<span>婚禮蜜月旅館</span>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=6>
			<div class='product_group'>
				<span>藝術收藏品 (since 2012)</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="product_img">
				<img src="/images/image045.png">
				<span>古董文物</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image047.png">
				<span>珍貴寶石</span>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=6>
			<div class='product_group'>
				<span>詩集 (in 2010-2013)</span>
			</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="product_img">
				<img src="/images/image049.png">
				<span>了無詩集</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image051.png">
				<span>詩集書法</span>
			</div>
		</td>
		<td>
			<div class="product_img">
				<img src="/images/image053.png">
				<span>衛王詩選</span>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=6>
			<div class='product_group' style='height: 90px;'>
				<span></span>
			</div>
		</td>
	</tr>
	</table>
    </div>
  </body>
</html>
