<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src= 'http://code.jquery.com/jquery-1.10.1.min.js'></script>
    <script src= 'javascripts/test.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <input id ='test' type="button" value="Test" />
    <input id ='sendcgi' type="button" value="Send" />
    <input id ='lang_en' type="button" value="English" />
    <input id ='lang_ch' type="button" value="Chinese" />
    <input  style="display: none;" id ='gousers' type="button" onClick='javascript:location.href="http://"+location.host+"/users"' value="Go Users" />

    <input id ='goabout' type="button" onClick='javascript:location.href="http://"+location.host+"/about"' value="Go About us" />
    <input id ='gocontact' type="button" onClick='javascript:location.href="http://"+location.host+"/contact"' value="Go Contact us" />
    <input id ='gohonpac' type="button" onClick='javascript:location.href="http://"+location.host+"/honpac"' value="Go Honpac Six" />
    <div id ='content'></div>
  </body>
</html>
