body {
	padding: 50px;
	font-family: 14px, "Arial","sans-serif";
}

a {
	color: #00B7FF;
}
.hover {
	z-index: 10000;
	opacity: 0.7;
	-moz-opacity: 0.7;
	filter:alpha(opacity=0.7);
}
.head {
	font-size: 36px;
	color: #3E3E3E;
}
.sub_head {
	font-size: 12px;
	color: #3E3E3E;
}
.bottom {
	font-size: 12px;
	color: #3E3E3E;
}
div#contactus {
        text-align:center;
	width: 1000px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -300px;
	margin-left: -500px;
	

}
div#contactus label {
	display: inline-block;
	min-width: 70px;

}
div#contactus div.img_container {
	display: inline-block;
	width: 160px;
	margin-top: 50px;
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 10px;
}
div#contactus  span.right {
	float: right;
}
div#contactus  span.left {
	float: left;
}
div#honpac_six {
        text-align:center;
	width: 1000px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -300px;
	margin-left: -500px;
}
div#honpac_six table {
	float: left;
}
div.product_img {
	float: left;
	width: 150px;
	display: inline-block;
	margin-bottom: 10px;
}
div.product_img span {
	display: block;
	font-size: 12px;
	margin-top: -5px;
}
div.product_img img {
	width: 120px;
	height: 90px;
	display: inline-block;
}
div.product_group * {
	color: #3E3E3E;
	font-weight: bold;
	font-size: 20px;
	float: left;
	text-align: left;
	width: 500px;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 5px;
}
