<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src= 'http://code.jquery.com/jquery-1.10.1.min.js'></script>
    <script src= 'javascripts/test.js'></script>
  </head>
  <body>
    <div id = 'contactus'>
       <img src = '/images/honpac.jpg'/>
       <h1 class='head'>Honor Co., Ltd</h1>
       <p class='sub_head' >founded in 1953</p>
       <table style="margin:0 auto;width:300px;">
             <tr>
                 <td>
                 <label>E-mail</label>
                 </td>
                 <td>
                 <span ><a href="mailto:honor.co@gmail.com">honor.co@gmail.com</a><span>
                 </td>
             </tr>
             <tr>
                 <td>
	         <label>Website</label>
                 </td>
                 <td>
                 <span ><a href="http://honpactw.com">http://honpactw.com</a><span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>Skype</label>
                 </td>
                 <td>
                 <span >honpactw<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>Tel</label>
                 </td>
                 <td>
                 <span >02-24931160<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>Fax</label>
                 </td>
                 <td>
                 <span >02-24931517<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>Office</label>
                 </td>
                 <td>
                 <span >67, Chung Hwa Rd, Suang Hsi District, New Taipei City, Taiwan<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>Permanent</label>
                 </td>
                 <td>
                 <span >53, Long Men st., Kong Liao Distric, New Taipei City, Taiwan<span>
	   	</td>
             </tr>
	</li>
</table>
       <div id ='image'>
	       <div class= 'img_container'>
	           <img src = '/images/taiwan.jpg'/>
	           <span>Taiwan</span>
	       </div>
	       <div class= 'img_container'>
	           <img src = '/images/newtaipei.jpg'/>
	           <span>New Taipei City</span>
	       </div>
	       <div class= 'img_container'>
	           <img src = '/images/no67.jpg'/>
	           <span>67 Chung Hwa Rd.</span>
	       </div>
	       <div class= 'img_container'>
	           <img src = '/images/no53.jpg'/>
	           <span> 53,Long Men st.</span>
	       </div>
       </div>
       <div style="margin:0 auto;width:750px;">
	           <span class= 'left bottom'>Website designed by: Joyce Lan</span>
	           <span class= 'right bottom'>Homepage designed by: Honpac, April Pu, Maye Winner</span>
       </div>
    </div>
  </body>
</html>
