<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src= 'http://code.jquery.com/jquery-1.10.1.min.js'></script>
    <script src= 'javascripts/test.js'></script>
  </head>
  <body>
    <div id = 'contactus'>
       <h1 class='head'>華納夢幻科技股份有限公司</h1>
       <p class='sub_head' >成立於 1953</p>
       <table style="margin:0 auto;width:300px;">
             <tr>
                 <td>
                 <label>電子郵箱</label>
                 </td>
                 <td>
                 <span ><a href="mailto:honor.co@gmail.com">honor.co@gmail.com</a><span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>網址</label>
                 </td>
                 <td>
                 <span ><a href="http://honpactw.com">http://honpactw.com</a><span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>Skype</label>
                 </td>
                 <td>
                 <span >honpactw<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>電話</label>
                 </td>
                 <td>
                 <span >02-24931160<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>傳真</label>
                 </td>
                 <td>
                 <span >02-24931517<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>公司</label>
                 </td>
                 <td>
                 <span >台灣新北市雙溪區中華路67號<span>
                 </td>
             </tr>
             <tr>
                 <td>
                 <label>常駐</label>
                 </td>
                 <td>
                 <span >台灣新北市貢寮區龍門街53號<span>
	   	</td>
             </tr>
	</li>
</table>

       <input id ='test' type="button" value="Test" />
       <input id ='sendcgi' type="button" value="Send" />
       <input id ='gousers' type="button" onClick='javascript:location.href="http://"+location.host+"/users"' value="Go Users" />
       <div id ='image'>
	       <img src = '/images/newtaipei.jpg' style='width:311px; height:207px;' />
	       <span>新北市</span>
	       <img src = '/images/no67.jpg' style='width:311px; height:207px;' />
	       <span>雙溪區中華路67號</span>
	       <img src = '/images/no53.jpg' style='width:311px; height:207px;' />
	       <span>貢寮區龍門街53號</span>
       
       </div>
    </div>
  </body>
</html>
