body {
	padding: 50px;
	font-family: 14px, "Arial","sans-serif";
}

a {
	color: #00B7FF;
}
.head {
	font-size: 36px;
	color: #3E3E3E;
}
.sub_head {
	font-size: 12px;
	color: #3E3E3E;
}
div#contactus {
        text-align:center;
	width: 500px;
	height: 500px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -250px;
	

}
div#contactus label {
	display: inline-block;
	min-width: 70px;

}
